body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

div{
	padding: 5px;
	margin: 1px;
	overflow: auto;
}

#container{
	text-align: left;
	position: relative;
	margin: auto;
}

#centerbox{
	position: relative;
	float: none;
	margin: auto;
	min-width: 665px;
	height: 100%;
}

.linebox{
	width: 95%;
	overflow: auto;
}

.item{
	position: absolute;
	min-height: 100px;
	width: 300px;
	border: 1px solid gray;
	float: left;
	box-shadow: 2px 2px 2px gray;
}

.item:hover{
	box-shadow: 2px 2px 10px black;
}

.inner{
	float: left;
	width: 45%;
	height: 70%;
}

.repeat{
	background-color: red;
	color: white;
}

.msg{
	border: 1px solid black;
	background-color: black;
	color: white;
}

span{
	display: inline-block;
	margin: 5px;
	border: 1px dashed black;
}