body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
* {
	border-radius: 5px;
}


div{
	overflow: auto;
	float: left;
	height: 200px;
	width: 30%;
	border: 1px solid gray;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;

}

.inner{
	width: 44%;
	height: 70%;
}

.repeat{
	background-color: red;
	color: white;
}

.msg{
	border: 1px solid black;
	background-color: black;
	color: white;
}

span{
	display: inline-block;
	margin: 5px;
	box-shadow: 5px 5px 10px gray;
	border: 1px dashed black;
}